@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@200&family=Salsa&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #3762e3;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    max-width:100vw;


}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var(--clr-primary-800);
    color: #c6c2c2;
   overflow: hidden;
   margin: 0;
   padding: 0;
 
}
.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(239 42 201);
  z-index: 100;
}


.hi{
    font-size: 100px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
#navbar {
  background-color: #3762e3;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 99;
  border-radius: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.4s;
}

#logo {
  font-size: 20px;
  color: #fccb06;
  letter-spacing: 2px;
  font-family: 'Lemon', serif;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #bcb7b7;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

#hamburger {
  display: none;
  cursor: pointer;
  color: white;
  transition: left 0.8s ease-in-out;
}

#sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -70%;
  height: 100%;
  width: 70%;
  background-color: #3762e3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 98;
  transition: left 0.8s ease-in-out, box-sizing 0.8s ease-in-out, padding 0.8s ease-in-out;
  box-sizing: border-box;
  padding: 20px;
}

#sidebar.show {
  left: 0;
}


/* #img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
} */

@media only screen and (max-width: 768px) {
  #navbar {
      height: 10vh;
      transition: left 0.8s ease-in-out, box-sizing 0.8s ease-in-out, padding 0.8s ease-in-out;
      box-sizing: border-box;
  }

  #logo {
      font-size: 16px;
      
  }

  nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #3762e3;
      z-index: 97;
      transition: 0.4s;
  }

  nav ul.show {
      display: flex;
  }

  nav ul li {
      margin: 10px 0;
      text-align: center;
  }

  #hamburger {
      display: block;
  }

  #sidebar {
      left: 0;
      width: 100%;
  }
}

#home{
  height: 100vh;
}


.name{
  color: #c9c3c3;
  font-family: 'Salsa', cursive;
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  transform: translateX(-20px); /* Move the element 20px to the left initially */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; /* Apply transition to opacity and transform */
}


.name.visible {
  opacity: 1;
  transform: translateX(0); /* Move the element back to its original position */
}


nav a {
    text-decoration: none;
    color: #bcb7b7;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lemon', serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
#first{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
    
}
#img {
  display: flex;
  height: 190px;
  width: 130px;
  border-radius: 70px;
  margin: 0 auto;
  z-index: 5;
  align-items: center;
  text-align: center;
  opacity: 1 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow with a 10px blur */
}
/* .left {
  margin-top: 5vh;
  position: relative;
} */
/* .left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('image/BG1.jpg'); 
  background-size: cover;
  filter: blur(10px); 
  margin-left: 12vw;
  z-index: -1;
  margin-right: 1vw;
} */
/* 
.left .box{
    margin-left: 12vw;
    width: 20vw;
    height: 50vh;
 
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-right: 2vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
    
    
} */
 .name{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
/*

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
    margin-left: 6vw;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  .scene {
    width: 10em;
    justify-content: center;
    align-items: center;
   }
   
   .cube {
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 10em;
    height: 4em;
    margin-top: 1vw;
    
   }
   
   .cube:hover {
    transform: rotateX(-90deg);
   }
   
   .side {
 
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.5em;
  
   }
   
   .top {
    background: transparent;
    color: #222229;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
   }
   
   .front {
    background: transparent;
    color: #fff;
    transform: translate3d(0, 0, 2em);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
   }
   
   .foot{
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 10px;
   }
 */




.icon{
  padding-left: 50px;
  
  text-align: center;
}
main {
  max-width: 200vh;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #333;
}
.title{
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 2.5em;
  font-family: 'Salsa', cursive; 
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
 .title.visible {
  opacity: 1;
  transform: scale(1);
} 
.meta{
  font-size: 2em;
  font-family: 'Salsa', cursive;
  cursor: pointer;

}
.title1{
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  font-family: 'Salsa', cursive;
}
.title2{
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 2.5em;
  font-family: 'Salsa', cursive;
}

.project, .education, .experience, .certifications, .contact {
  margin-bottom: 30px;
}

.project, .education, .experience, .certifications {
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
}

.project h3, .education h3, .experience h3, .certifications h1, .certifications h2 {
  color: #007BFF;
}

.typeit{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add these classes to your existing style.css file */

.hide {
    display: none;
}

.show {
    display: block;
}
.page:not(.home) {
  margin-top: 25vh;
}
.Main_title{
  font-family: 'Lemon', serif;
}
.details{
  font-size: 1.4em;
  font-family: 'Salsa', cursive;

}

/*scroll bar/*
/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #3762e3; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fccb06; 
  border-radius: 4px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #ffea8a; 
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

li {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(252, 203, 6);
  

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  
  align-items: center;
 
  font-weight: bold;
  
}

.details {
  cursor: pointer;
}


.skills-list {
  list-style-type: none;
  margin: 20 auto;
  padding: 0;
}

.skills-list dd {
  margin-bottom: 5px;
  
}
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #474bff;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
}


/* Your existing styles go below this */


.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(239 42 201);
  pointer-events: none;
  height: 2px;
  width: 2px;
}

.cert {
  height: 30vh;
  width: 20vw;
  border-radius: 10px;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; 
}

.cert.visible {
  transform: scale(1);
  opacity: 1;
}

.skill {
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
} 

.skill.visible {
  opacity: 1;
}

ul,li{
  list-style-type: none;
}



.scroller {
max-width: 1000px;
}

.scroller__inner {
padding-block: 1rem;
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.scroller[data-animated="true"] {
overflow: hidden;
-webkit-mask: linear-gradient(
90deg,
transparent,
white 20%,
white 80%,
transparent
);
mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
width: max-content;
flex-wrap: nowrap;
animation: scroll linear;
animation-timeline: scroll(root);
animation-direction: var(--_animation-direction); 
}

.scroller[data-direction="right"] {
--_animation-direction: reverse;
}

.scroller[data-direction="left"] {
--_animation-direction: forwards;
}



.scroller[data-speed="slow"] {
--_animation-duration: 3000s;
}

@keyframes scroll {
to {
transform: translate(calc(-50% - 0.5rem));
}
}

/* general styles */

:root {
--clr-neutral-100: hsl(0, 0%, 100%);
--clr-primary-100: hsl(205, 15%, 58%);
--clr-primary-400: hsl(215, 25%, 27%);
--clr-primary-800: hsl(217, 33%, 17%);
--clr-primary-900: hsl(218, 33%, 9%);
}

html {
color-scheme: dark;
}

.idea {
display: grid;

place-content: center;
font-size: 1.125rem;
background-color: inherit;
}

.tag-list {
margin: 0;
padding-inline: 0;
list-style: none;
}

.tag-list .pra {
padding: 1rem;
background: var(--clr-primary-400);
border-radius: 0.5rem;
box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900) !important;
}

.project_images {
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.card-container {
  display: flex;
}

.card {
  margin: 0 20px;
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-out, box-shadow 0.5s ease-out;
  will-change: transform;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.8s ease-out;
}

.content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.card:hover .content {
  opacity: 1;
}

.card:hover .background-image {
  transform: scale(1.2);
}

.card:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: rotateX(15deg) rotateY(15deg);
}

@media only screen and (max-width: 768px) {
  #navbar {
      height: 9vh;
      width: 100vw;
  }
  #hamburger{
    font-size: 2em;
  }

  #logo {
      font-size: 16px;
     
  }
  #first{
    display: block;
    height: max-content;
  }
  .left {

    display: block;
    margin-top: 15vh;

  }
 #card2,#card3,#card4{
    height: 200px;
  width: 100%;
  margin: 5px;
 }
 
  .txt{
    font-size: 1em;
  }

  .cert{
    width: 80vw;
  }
  .education{
    overflow-y: hidden;
  }
  .card-container{
    display: block;
  }
  .project_images {
    margin-left: 0 !important;
  }
  .hi{
    font-size: 4em;
    text-align: center;
  }
  .page:not(.home) {
    margin-top: 11vh;
  }
}

